*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
 width: 100%;
 min-height: 100vh;
 background: linear-gradient(to top,#D2E3C8 50%,#86A789 50%);
}
 .container h2{
    color: black;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
 }
 .price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 25px;
 }
 .price-col{
    background: rgb(234 234 234);
    padding: 10% 15%;
    border-radius: 5px;
    color:white;
    text-align: center;
 }
 .price-col:hover{
   background:white ;
   /* color: white; */
    }
 .price-col h3{
    margin: 20px 0 40px;
    font-weight: 500;
 }
 .price-col h3 span{
    font-size: 15px;
 }
 .price-col ul{
    text-align: left;
    margin: 20px 0;
    list-style: none;
 }
 .price-col ul li{
    margin: 15px 0;
    text-align: center;
 }
 .price-col button{
    width: 180px;
    padding: 14px 0;
    background: lightgrey;
    color: black;
    font-size: 15px;
    border: 0px solid red ;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
 }
 .price-col button:hover{
background:#4F6F52 ;
color: white;
 }